.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search__container {
  padding-block: 1rem;
  position: relative;
  width: 23.4rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-inline: 0.5rem;
}

.search__container input {
  min-width: 20rem;
  padding-block: 0.5rem;
  padding-inline: 1.6rem;
  border: none;
  outline: none;
}

.search__icon {
  position: absolute;
  top: 22px;
}

.clear__icon {
  position: absolute;
  right: 0.5rem;
  top: 18px;
  margin-right: 7px;
  padding: 5px;
  cursor: pointer;
}

.search__item__container {
  margin-top: 0.5rem;
  text-align: left;
  padding: 0.5rem;
}

.search__item__container:hover {
  background-color: lightgoldenrodyellow;
  cursor: pointer;
}

.search__item__container h6 {
  margin: 0;
}

.search__item__container mark {
  background-color: transparent;
  color: #235bea;
  font-weight: bold;
}

.search__results {
  max-height: 350px;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
